body {

    justify-content: center; /* Centra horizontalmente */
    margin-top: 50px;
    background-image: url(imagenes/FondoPpalamp.jpg) ;
    height: auto;

background-size: cover;
background-repeat: no-repeat;
    margin-top: 0px;
}

header {
    width: 100%;
    height: 30%;
    position: sticky;
    top: 5px;
    border-bottom: black solid 1px;
    display: flex;
    grid-template-columns: auto 1fr auto;
    align-items: center;

}

.headerEnCuento {
    outline: 3px solid rgba(95, 198, 179, 0.08);
    position: sticky;
    width: 100%;
    top: 0; left: 0; right: 0;
    display: flex;
    justify-content: space-between; /* icono a la izquierda, botón a la derecha */
    align-items: center; /* centra verticalmente */
    /*background-color: rgba(128, 128, 128, 0.6); !* gris con transparencia *!*/
    background: rgba(95, 198, 179, 0.8);
    padding:0;
    margin: 0;
    z-index: 10; /* que quede por encima del fondo */
}




.BotonInicio {
    background-color: rgba(221, 241, 237, 0.6);
    color: #000;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.BotonInicio:hover {
    background-color: rgba(221, 241, 237, 0.9);
}


.LogoConNombre{
    display: flex;
    align-items: center;
    gap: 8px;

}
#LogoPyp{
    max-width: 5%; /* Escala el logo */
    height: auto;
    margin-right: 10px;
    margin-left:5px;

}
#Pyp{
    font-size: 1.2rem;
    margin: 0;
}
#Eslogan {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.4rem;
}
#Titulo{
    margin-top: 1%;
    text-align: center;
    font-size: 1.5rem;
    width: 100%; /* ocupa todo el ancho */
}

h1{
    text-align: center;
    font-size: 2rem;
    font-family: 'Merriweather', sans-serif; /* tipografía más estética */
    color: #1c252e;                /* tono gris-azulado elegante */
    letter-spacing: 2px;           /* separa un poco las letras */
    /*text-transform: uppercase;      pone todo en mayúsculas */
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* sombra suave */
    /* border-bottom: 3px solid #3498db; /* línea decorativa debajo */
    display: inline-block;         /* la línea se ajusta al texto */
}

h2{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Merriweather', sans-serif; /* tipografía más estética */
    color: #1c252e;                /* tono gris-azulado elegante */
    letter-spacing: 2px;           /* separa un poco las letras */
    /*text-transform: uppercase;      pone todo en mayúsculas */
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* sombra suave */
    border-bottom: 3px solid #3498db; /* línea decorativa debajo */
    display: inline-block;         /* la línea se ajusta al texto */
}

.LibrosBox {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 1%;
    justify-content: center;
    align-items: center;
    grid-auto-flow: row;
}

.Libro {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.PortadaDeLibro {
    width: 100%;
    height: auto;
    display: block;

}


/* === Nombre del cuento (arriba de la imagen) === */
.NombreCuento {
    position: absolute;
    top: 0;  /* parte superior */
    left: 0;
    right: 0;
    background: rgba(209, 104, 104, 0.6);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

/* === Descripción (abajo de la imagen) === */
.Descripcion {
    position: absolute;
    bottom: 0;  /* parte inferior */
    left: 0;
    right: 0;
    background: rgba(221, 137, 137, 0.6);
    color: #fff;
    font-size: 13px;
    text-align: center;
    padding: 8px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

/* Mostrar ambos al hacer hover */
.Libro:hover .NombreCuento,
.Libro:hover .Descripcion {
    opacity: 1;
}


.TituloLibroEP {
    position: relative;
    background: rgba(95, 198, 179, 0.8);
    padding: 4px 16px;

    color: #052026;
    border-radius: 15px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;

}

.audios {
    gap: 12px;
    background: #5fc6b3;
    color: #052026;
    padding: 10px 18px;
    border-radius: 999px;
    box-shadow: 0 3px 8px rgba(3, 30, 30, 0.08);
}


#bodyBN {
    background-image: url(imagenes/fBN.jpg);
    min-height: 100vh;           /* ocupa al menos toda la pantalla */
    background-size: cover;      /* la imagen cubre todo el fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* 🔑 mantiene el fondo fijo */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;          /* centra horizontal */
}

#bodyCP {
    background-image: url(imagenes/FCR.jpg);
    min-height: 100vh;           /* ocupa al menos toda la pantalla */
    background-size: cover;      /* la imagen cubre todo el fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* 🔑 mantiene el fondo fijo */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;          /* centra horizontal */
}

#bodyCN {
    background-image: url(imagenes/FC.jpg);
    min-height: 100vh;           /* ocupa al menos toda la pantalla */
    background-size: cover;      /* la imagen cubre todo el fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* 🔑 mantiene el fondo fijo */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;          /* centra horizontal */
}

#bodyGB {
    background-image: url(imagenes/FondoGB.png);
    min-height: 100vh;           /* ocupa al menos toda la pantalla */
    background-size: cover;      /* la imagen cubre todo el fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* 🔑 mantiene el fondo fijo */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;          /* centra horizontal */
}

#bodyPF {
    background-image: url(imagenes/FondoPF.png);
    min-height: 100vh;           /* ocupa al menos toda la pantalla */
    background-size: cover;      /* la imagen cubre todo el fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* 🔑 mantiene el fondo fijo */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;          /* centra horizontal */
}

#bodyBD {
    background-image: url(imagenes/FondoBD.png);
    min-height: 100vh;           /* ocupa al menos toda la pantalla */
    background-size: cover;      /* la imagen cubre todo el fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* 🔑 mantiene el fondo fijo */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;          /* centra horizontal */
}

#bodyL3C {
    background-image: url(imagenes/FL3C.JPG);
    min-height: 100vh;           /* ocupa al menos toda la pantalla */
    background-size: cover;      /* la imagen cubre todo el fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* 🔑 mantiene el fondo fijo */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;          /* centra horizontal */
}
#bodyHYG {
    background-image: url(imagenes/FHYG.JPG);
    min-height: 100vh;           /* ocupa al menos toda la pantalla */
    background-size: cover;      /* la imagen cubre todo el fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* 🔑 mantiene el fondo fijo */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;          /* centra horizontal */
}
#bodyR {
    background-image: url(imagenes/FR.JPG);
    min-height: 100vh;           /* ocupa al menos toda la pantalla */
    background-size: cover;      /* la imagen cubre todo el fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* 🔑 mantiene el fondo fijo */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;          /* centra horizontal */
}
#bodyLS {
    background-image: url(imagenes/FLS.JPG);
    min-height: 100vh;           /* ocupa al menos toda la pantalla */
    background-size: cover;      /* la imagen cubre todo el fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* 🔑 mantiene el fondo fijo */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;          /* centra horizontal */
}

#bodyLPYEG {
    background-image: url(imagenes/FLPYE.jpg);
    min-height: 100vh;           /* ocupa al menos toda la pantalla */
    background-size: cover;      /* la imagen cubre todo el fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* 🔑 mantiene el fondo fijo */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;          /* centra horizontal */
}
#bodyEFDH {
    background-image: url(imagenes/FEFDH.jpg);
    min-height: 100vh;           /* ocupa al menos toda la pantalla */
    background-size: cover;      /* la imagen cubre todo el fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* 🔑 mantiene el fondo fijo */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;          /* centra horizontal */
}
#bodyLCYLH {
    background-image: url(imagenes/FLCYLH.jpg);
    min-height: 100vh;           /* ocupa al menos toda la pantalla */
    background-size: cover;      /* la imagen cubre todo el fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* 🔑 mantiene el fondo fijo */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;          /* centra horizontal */
}
#bodyA {
    background-image: url(imagenes/FA.jpg);
    min-height: 100vh;           /* ocupa al menos toda la pantalla */
    background-size: cover;      /* la imagen cubre todo el fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* 🔑 mantiene el fondo fijo */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;          /* centra horizontal */
}


#bodyLBYLB {
    background-image: url(imagenes/FLBYLB.jpg);
    min-height: 100vh;           /* ocupa al menos toda la pantalla */
    background-size: cover;      /* la imagen cubre todo el fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* 🔑 mantiene el fondo fijo */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;          /* centra horizontal */
}

#bodyELDLS{
    background-image: url(imagenes/FELDLS.jpg);
    min-height: 100vh;           /* ocupa al menos toda la pantalla */
    background-size: cover;      /* la imagen cubre todo el fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* 🔑 mantiene el fondo fijo */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;          /* centra horizontal */
}
#bodyPP{
     background-image: url(imagenes/FPP.jpg);
     min-height: 100vh;           /* ocupa al menos toda la pantalla */
     background-size: cover;      /* la imagen cubre todo el fondo */
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed; /* 🔑 mantiene el fondo fijo */
     margin: 0;
     display: flex;
     flex-direction: column;
     align-items: center;          /* centra horizontal */
 }
#bodyECN{
    background-image: url(imagenes/FECN.jpg);
    min-height: 100vh;           /* ocupa al menos toda la pantalla */
    background-size: cover;      /* la imagen cubre todo el fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* 🔑 mantiene el fondo fijo */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;          /* centra horizontal */
}
.textoGeneral {
    background-color: rgba(221, 241, 237, 0.6);

    color: rgba(0, 0, 0);

    padding: 20px;
    max-width: 800px;
    margin: 20px auto; /* centrado con espacio */
    text-align: justify;
    font-size: 25px; /* 🔎 tamaño grande */
    line-height: 1.3; /* mejor legibilidad */
    font-family:    "Poppins", sans-serif;
}
#bodyA {
    background-image: url(imagenes/FA.jpg);
    min-height: 100vh;           /* ocupa al menos toda la pantalla */
    background-size: cover;      /* la imagen cubre todo el fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* 🔑 mantiene el fondo fijo */
    padding:0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;          /* centra horizontal */

}
